.shop-container {
  margin: 20px 25px;
  display: grid;
  grid-template-columns: 4fr 1fr;
}
.products-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.cart-container {
  text-align: center;
}
.proceed-link {
  text-decoration: none;
}
.btn-proceed {
  background: #ff9900;
  border: 0;
  border-radius: 4px;
  width: 90%;
  height: 30px;
  padding: 10px;
  color: white;
  font-size: 21px;
  margin: 10px auto;
  border: 0;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.pagination {
  text-align: center;
  margin-bottom: 50px;
}
.pagination button {
  cursor: pointer;
  margin-left: 5px;
  padding: 10px;
  border: 0;
  border-radius: 10px;
}
.select {
  background: orange;
}
select {
  margin-left: 5px;
  padding: 5px;
}
